html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-bottom: 300px; }
#footer { clear: both; position: relative; z-index: 10; height: 150px; margin-top: -200px; }


body { background:#f7f7f7; }

#header {
    height:45px;
    background:#333;
    color:#eee;
    padding-top:7px;
    padding-bottom: 7px;
    border-top:4px solid #000;
    box-shadow: 0 0 5px #777;
}

#header h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #e8e8e8;
    margin-top: 0;
    padding-top: 0;
    text-shadow: 0 1px 2px #000;
    float: left;
}

#header a {
    color: #e8e8e8;
}

#navigation {
    float: right;
    margin:0;
    padding:0;
    border: none;
    margin-top: 16px;
}

#navigation>li>a {
    border: none;
}

#navigation>li>a:hover, #navigation>li>a:focus {
    background: #c20;
}

#navigation>.active>a, #navigation>.active>a:hover, #navigation>.active>a:focus {
    background: #c20;
}


.navwell {
    padding: 15px 0;
}

#content {
    padding-top: 50px;
}

h1, h2, h3 {
    margin-bottom: 1.0em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 23px;
    margin-bottom: 0.5em;
    margin-top: 1.0em;
}

h3 {
    font-size: 18px;
    margin-bottom: 0.5em;
    margin-top: 1.0em;
}

#footer {
	background: #222 url('/css/border.png') repeat-x 0 0;
	padding-top: 50px;
    font-size: 0.9em;
    color: #aaa;
    text-shadow: 1px 1px 2px #000;
}

#footer a {
    color: #ddd;
}

.pull-right {
    float: right;
}
