<!doctype html>
<html lang="en-us">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet">
  <title>{{ page.title }}</title>
 </head>
<body>
<div class="wrapper">
 <div id="header">
  <div class="container">
   <h1>Open Notify</h1>
  </div>
 </div>
 <div id="content">
  <div class="container"><div class="row"><div class="span8">
   {{ content }}
  </div></div></div>
 </div>
</div>
 <div id="footer">
  <div class="container">
    <p></p>
  </div>
 </div>
</body>
</html>
